
<!DOCTYPE html>
<html  lang="en"
		xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org"
		xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
		layout:decorator="layouts/header_footer">
<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content">
		<div class="container" style=" width:40%; align-content: center;">
			<div class="box" style="padding:30px;" >
			
				<h2 class="page-subheading"  style="margin-left: 110px;">Your Personal Information</h2><br>
				
				<div class="row">
				
					<div class="col-sm-6">
						<label for="cname" >Full Name:</label>
						<input type="text"  name="cname" id="cname" th:value="${clt.clientName}"  class="form-control" readonly>	
					</div>
					
					<div class="col-sm-6">
						<label for="cemail">Email:</label>
						<input type="text"  name="cemail" id="cemail" th:value="${clt.clientEmail}" class="form-control" readonly>
					</div>
					
					<div class="col-sm-6">
						<label for="cphone">Phone:</label>
						<input type="text"  name="cphone" id="cphone" th:value="${clt.clientphone}" class="form-control" readonly>
					</div>
					
					<div class="col-sm-6">
						<label for="cgender">Gender:</label>
						<input type="text"  name="cgender" id="cgender" th:value="${clientGender}" class="form-control" readonly>
					</div>
					
					<div class="col-sm-6">
						<label for="cnid">NID:</label>
						<input type="text"  name="cnid" id="cnid" th:value="${clt.clientNID}" class="form-control" readonly>
					</div>
					
					<div class="col-sm-6">
						<label for="cprofile_type">Profile Type:</label>
						<input type="text"  name="cprofile_type" id="cprofile_type" th:value="${clt.clientProfileType}" class="form-control" readonly>
					</div>
					<div class="col-sm-6">
						<label for="caddress">Address:</label>
						<input type="text"  name="caddress" id="caddress" th:value="${clt.address}" class="form-control" readonly>
					</div>
					
					<div class="col-sm-6">
						<label for="carea">Area:</label>
						<input type="text"  name="carea" id="carea" th:value="${clt.area}" class="form-control" readonly>
					</div>
					
					<div class="col-sm-6">	
						<label for="cdistrict">District:</label>
						<input type="text"  name="cdistrict" id="cdistrict" th:value="${clt.district}" class="form-control" readonly>
					</div>
					
					<div class="col-sm-6">
						<label for="cdivision">Division:</label>
						<input type="text"  name="cdivision" id="cdivision" th:value="${clt.division}" class="form-control" readonly>
					</div>
					
					<div class="col-sm-6">
						<label for="cpostalcode">Postal Code:</label>
						<input type="text"  name="cpostalcode" id="cpostalcode" th:value="${clt.postalcode}" class="form-control" readonly>
					</div>
					
					<div class="col-sm-6">
						<label for="cusername">Username:</label>
						<input type="text"  name="cusername" id="cusername" th:value="${clt.clientUserName}" class="form-control" readonly>
					</div>
					
					<div class="col-sm-6">
						<label for="cpassword">password:</label>
						<input type="text" name="cpassword" id="cpassword" th:value="${clt.clientPassword}" class="form-control"  readonly>	
					</div>
					
				</div><br>
				
				<form action="get_update_page" method="GET">
					<input type="hidden" name="uid" th:value="${clt.id}">
					<button class="btn btn-default btn-md icon-right" style="margin-left: 230px;"  type="submit">Edit Profile</button>
				</form>	
					
			</div>
		</div>
	</div>
</body>
</html>