<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/header_footer">
<head>
<title>Login Form</title>
</head>
<body>

	<div layout:fragment="content">
		<div class="container">
	<div class="alert alert-danger" th:if="${param.error}">
    	<h2>Invalid Email or Password</h2>	
	</div>
	<fieldset>
	<h2>Login Form</h2>
	
		<form th:action="@{/login}"  method="post">

			<div class="form-group">
				<label for="email" class="form-control-label">Email</label>
				<input type="text" class="form-control"  id="email" name="username"/>
			</div>
			<div class="form-group">
				<label for="password" class="form-control-label">Password</label>
				<input type="password" class="form-control" id="password"  name="password"/>
			</div>
			
			<input type="submit" value="Submit" class="btn btn-primary" />

		</form>
	</fieldset>
	</div>
	</div>
</body>
</html>