<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layouts/header_footer">
<head>
 <title>Registration Success Page</title>
</head>
<body>

	<div layout:fragment="content">
		<div class="container">
          <div class="alert alert-success">
            Registration success!! Please sign in  to Continue          
          </div>
     </div>
    </div>
</body>
</html>